/* Загальні стилі */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: 300;
}

/* Контейнер для сторінок */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.3s ease;
    line-height: 1.6;
}

.container:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

/* Картки */
.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.card h2 {
    font-size: 1.6em;
    color: #34495e;
    margin-bottom: 15px;
}

.card p {
    font-size: 1em;
    margin-bottom: 10px;
}

.card .person-info {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 15px;
}

.card .person-info strong {
    color: #1abc9c;
}

/* Переведення посилань у кнопки */
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: 0.3s ease;
    margin-top: 10px;
}

a:hover {
    background-color: #2980b9;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стиль для кнопки "Повернутись до списку бригади" */
a.return-button {
    background-color: #1abc9c;
}

a.return-button:hover {
    background-color: #16a085;
}

.team-image {
	width: 100%;
	max-width: 600px;
	border-radius: 15px;
	margin-top: 1rem;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  

/* Мобільна адаптація */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 2em;
    }

    .container {
        padding: 20px;
    }

    .card {
        padding: 15px;
        margin-bottom: 25px;
    }

    .card h2 {
        font-size: 1.5em;
    }

    a {
        padding: 8px 16px;
    }
}
